<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dev.pms.mapper.BelongMapper">
    <insert id="joinGroup" useGeneratedKeys="true" parameterType="com.dev.pms.domain.BelongDto">
        insert into belong_table
        (user_id, group_id, is_admitted, is_manager)
        values
        (#{userId}, #{groupId}, false, false)
    </insert>

    <select id="checkBelongInfoByUser" resultType="com.dev.pms.domain.BelongDto">
        select *
        from belong_table
        where user_id = #{userId} and group_id = #{groupId}
    </select>

    <select id="checkPermissionReadPost" resultType="Long">
        select p.group_id
        from post_table as p
        inner join user_table as u
        on p.user_id = u.user_id
        inner join group_table as g
        on p.group_id = g.group_id
        where p.post_id = #{postId}
        and p.user_id = #{userId}
    </select>

    <select id="checkWritePermission" resultType="com.dev.pms.domain.PermissionVo">
        select *
        from belong_table
        where user_id=#{userId}
        and group_id=#{groupId}
        and is_admitted=true
    </select>

    <select id="checkManager" resultType="com.dev.pms.domain.PermissionVo">
        select *
        from belong_table
        where user_id=#{userId}
        and group_id=#{groupId}
        and is_admitted=true
        and is_manager=true
    </select>
</mapper>
