<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dev.pms.mapper.CommentMapper">
    <select id="countComment" resultType="int">
        select count(*)
        from comment_table
        where post_id=#{postId}
    </select>

    <select id="getCommentsByGroup" resultType="com.dev.pms.domain.CommentVo">
        select c.comment_id, c.comment_content, c.comment_date, c.post_id, c.user_id, u.user_name
        from comment_table as c
        inner join post_table as p
        on c.post_id = p.post_id
        inner join user_table as u
        on c.user_id = u.user_id
        where c.post_id=#{postId}
    </select>

    <insert id="addComment" parameterType="com.dev.pms.domain.CommentDto">
        insert into comment_table
        (comment_content, comment_date, post_id, user_id)
        values
        (#{commentContent}, current_timestamp, #{postId}, #{userId})
    </insert>

    <select id="getCommentById" resultType="com.dev.pms.domain.CommentVo">
        select *
        from comment_table
        where comment_id=#{commentId}
    </select>
</mapper>